<h1 class="page-header">Equations</h1>
<% if (typeof equations != 'undefined') { %>
<%
	var limit = 10;
	var pages = Math.ceil(numEquations/10);
	var currentPage = 1;
	var next = 1 + limit; 
	var back = 1 - limit;
%>
<% if (numEquations > limit) { %>
	<nav>
	  <ul class="pagination">
	  	<% for (var i = 1; i <= pages; i++) { 
			var skip = (i-1)*limit; 
			var active = i == currentPage; %>
			<li <%= active ? "class=active" : "" %>><a href="/admin/equations?offset=<%=skip%>" class="page" data-type="equation"><%= i %></a></li>
		<% } %>
	  </ul>
	</nav>
<% } %>
<div id="equationResults">
	<table class="table table-striped table-bordered" id="resultsTable">
		<thead>
			<tr>
				<th>Equation ID</th>
				<th>Equation</th>
				<th>Date</th>
			</tr>
		</thead>
		<tbody>
		<% _.each(equations, function (e) { %>
			<tr>
				<td><a href="/equation/<%= e.id %>?preview=true" class="equation"><%= e.id %></a></td>
				<td>
					<% switch (e.mathType) { 
						case "MathML": %>

							<%- e.math %>
						<%	break;
						case "AsciiMath": %>
							`<%= e.math %>`
						<%
							break;
						case "TeX": %>
							$<%= e.math %>$
						<%
							break;
						default:
							//do nothing.
					} %>
				</td>
				<td><%= e.createdAt %></td>
			</tr>
		<% }) %>
		</tbody>
	</table>
</div>
<% } else { %>
<p class="text-info">No equations.</p>
<% } %>