<% if (typeof equation != 'undefined') { %>
	<p><strong>Math:</strong> `<%= equation.math %>`</p>
	<p><strong>Math Type:</strong> <%= equation.mathType %></p>
	<h2>Components</h2>
	<% _.each(equation.components, function(component) { %>
		<div class="panel panel-default">
			<div class="panel-heading"><h3><%= component.format %></h3></div>
			<div class="panel-body" id="output-text">
				<% if (component.format != 'png') { %>
					<%- component.source %>
				<% } else { %>
					<img src="<%= component.source %>" alt="PNG" />
				<% } %>
			</div>
		</div>
	<% }); %>

	<h2>Feedback</h2>

	<% if (feedback.length > 0) { %>
	<table class="table table-striped table-bordered">
		<thead>
			<tr>
				<th>Feedback ID</th>
				<th>Comments</th>
				<th>Date</th>
				<th>Components</th>
			</tr>
		</thead>
		<tbody>
		<% _.each(feedback, function (f) { %>
			<tr>
				<td><%= f.id %></td>
				<td><%= f.comments %></td>
				<td><%= f.createdAt %></td>
				<td>
					<% _.each(f.components, function (component) { %>
						<%= component.format %>
					<% }); %>
				</td>
			</tr>
		<% }) %>
		</tbody>
	</table>
	<% } else { %>
	<p class="text-info">No feedback for this equation.</p>
	<% } %>
	
<% } else { %>
	<h1>Please enter an equation ID above.</h1>
<% } %>