<h1 class="page-header">Feedback</h1>
<% if (typeof feedback != 'undefined') { %>
<%
	var limit = 10;
	var pages = Math.ceil(numFeedback/limit);
	var currentPage = (1/limit) + 1;
	var next = 1 + limit; 
	var back = 1 - limit;
%>
<% if (numFeedback > limit) { %>
	<nav>
	  <ul class="pagination">
		<% for (var i = 1; i <= pages; i++) { 
			var skip = (i-1)*limit; 
			var active = i == currentPage; %>
			<li <%= active ? "class=active" : "" %>><a href="/admin/feedback?offset=<%=skip%>" class="page" data-type="feedback"><%= i %></a></li>
		<% } %>
	  </ul>
	</nav>
<% } %>
<div id="feedbackResults">
	<table class="table table-striped table-bordered" id="resultsTable">
		<thead>
			<tr>
				<th>Equation ID</th>
				<th>Equation</th>
				<th>Comments</th>
				<th>Date</th>
			</tr>
		</thead>
		<tbody>
		<% _.each(feedback, function (f) { %>
			<tr>
				<td><a href="/equation/<%= f.equation.id %>?preview=true" class="equation"><%= f.equation.id %></a></td>
				<td><%= f.equation.math %></td>
				<td><%= f.comments %></td>
				<td><%= f.createdAt %></td>
			</tr>
		<% }) %>
		</tbody>
	</table>
</div>
<% } else { %>
<p class="text-info">No feedback.</p>
<% } %>