<h1 class="page-header">Users</h1>
<% if (typeof users != 'undefined') { %>
<%
	var limit = 10;
	var pages = Math.ceil(numUsers/10);
	var currentPage = 1;
	var next = 1 + limit; 
	var back = 1 - limit;
%>
<% if (numUsers > 10) { %>
	<nav>
	  <ul class="pagination">
		<% for (var i = 1; i <= pages; i++) { 
			var skip = (i-1)*limit; 
			var active = (i == currentPage); %>
			<li <%= active ? "class=active" : "" %>><a href="/admin/users?offset=<%=skip%>" class="page" data-type="user"><%= i %></a></li>
		<% } %>
	  </ul>
	</nav>
<% } %>
<div id="userResults">
	<table class="table table-striped table-bordered" id="resultsTable">
		<thead>
			<tr>
				<th>User ID</th>
				<th>Username</th>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Organization</th>
				<th>Organization Affiliations</th>
				<th>Date</th>
			</tr>
		</thead>
		<tbody>
		<% _.each(users, function (u) { %>
			<tr>
				<td><%= u.id %></td>
				<td><%= u.username %></td>
				<td><%= u.firstName %></td>
				<td><%= u.lastName %></td>
				<td><%= typeof(u.organization) != "undefined" ? u.organization : "N/A"%></td>
				<td><%= typeof(u.organizationTypes) != "undefined" ? u.organizationTypes : "N/A" %></td>
				<td><%= u.createdAt %></td>
			</tr>
		<% }) %>
		</tbody>
	</table>
</div>
<% } else { %>
<p class="text-info">No users.</p>
<% } %>