<h2>Equations</h2>
<table class="table table-striped table-bordered" id="resultsTable">
<thead>
	<tr>
		<th>Equation ID</th>
		<th>Input Math Type</th>
		<th>Input Math</th>
		<th>Output</th>
	</tr>
</thead>
<tbody>
<% if (typeof equations != 'undefined') { %>
	<% _.each(equations, function(equation) { %>
		<tr>
			<td><a href="/equation/<%= equation.id %>?preview=true"><%= equation.id %></a></td>
			<td><%= equation.mathType %></td>
			<td><%= equation.math %></td>
			<td><%- equation.components[0].source %></td>
		</tr>
	<% }); %>
<% } %>
</tbody>
</table>